trigger: none

pool:
  vmImage: ubuntu-latest 

stages:
- stage: tfvalidate
  jobs:
  - job: validate 
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTaskV4@4
      displayName: 'terraform init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        commandOptions: '-upgrade'
        backendServiceArm: 'sp-terraform-Schulung'
        backendAzureRmResourceGroupName: 'rg-aschmidt-cloudwalker'
        backendAzureRmStorageAccountName: 'stacloudwalkerterraform'
        backendAzureRmContainerName: 'c-cloudwalker-terraform'
        backendAzureRmKey: 'prod.terraform.tfstate'
    - task: TerraformTaskV4@4
      displayName: 'terraform validate'
      inputs:
        provider: 'azurerm'
        command: 'validate'
    - script: ls $(Pipeline.Workspace)
      displayName: 'get workspace'
    - script: ls 
      displayName: 'ls'
    - script: ls $(System.DefaultWorkingDirectory)
      displayName: 'workingdirectory'
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: |
          $(System.DefaultWorkingDirectory)/Dockerfile
          $(System.DefaultWorkingDirectory)/requirements.txt
          $(System.DefaultWorkingDirectory)/src
        artifact: 'Test-Driven-Development'
        publishLocation: 'pipeline'


        
- stage: tfdeploy
  condition: succeeded('tfvalidate')
  dependsOn: tfvalidate
  jobs:
  - job: apply
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTaskV4@4
      displayName: 'terraform init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        commandOptions: '-upgrade'
        backendServiceArm: 'sp-terraform-Schulung'
        backendAzureRmResourceGroupName: 'rg-aschmidt-cloudwalker'
        backendAzureRmStorageAccountName: 'stacloudwalkerterraform'
        backendAzureRmContainerName: 'c-cloudwalker-terraform'
        backendAzureRmKey: 'prod.terraform.tfstate'
    - task: TerraformTaskV4@4
      displayName: 'terraform plan'
      inputs:
        provider: 'azurerm'
        command: 'plan'
        commandOptions: -out main.tfplan
        environmentServiceNameAzureRM: 'sp-terraform-Schulung'
    - task: TerraformTaskV4@4
      displayName: 'terraform apply'
      inputs:
        provider: 'azurerm'
        command: 'apply'
        commandOptions: 'main.tfplan'
        environmentServiceNameAzureRM: 'sp-terraform-Schulung'

- stage: deploy
  jobs:
  - deployment: DeployWeb
    displayName: 'Deploy on VM'
    pool:
      vmImage: 'ubuntu-latest'
    environment: 
      name: 'environment-aschmidt-cloudwalker-terraform'
      resourceName: hostname
      resourceType: virtualMachine
    strategy:
      runOnce:
        deploy:
          steps:

          - task: CopyFilesOverSSH@0
            displayName: 'copy files to vm'
            inputs:
              sshEndpoint: 'connection-vm-cloudwalker-terraform'
              sourceFolder: 'cloudwalker'
              contents: $(Pipeline.Workspace)/Test-Driven-Development/s/*
              readyTimeout: '20000'